<script>
    var URL = '<%= URL %>',
        responsive = <%= responsive %>,
        iframe = document.createElement('iframe'),
        height = '<%= height %>',
        width = '<%= width %>';

    if (responsive) {
        window.frameElement.style.width = '<%= width %>';
    }

    iframe.setAttribute('src', URL);
    iframe.setAttribute('height', height);
    iframe.setAttribute('width', width);
    iframe.setAttribute('frameborder', 0);
    iframe.setAttribute('allowfullscreen', true);
    iframe.setAttribute('mozallowfullscreen', true);
    iframe.setAttribute('webkitallowfullscreen', true);

    document.body.appendChild(iframe);
</script>